.banana{
    background-color: aqua;
    margin:20px;
    display:flex;

}

img{
    height:400px;
    width:400px;
    padding:50px;
    display:flex;

}
body{

    margin:20px;
    padding:100px;
}

.quadrado{
    height:500px;
    width:500px;
 background-color:red;
}

.atum{
    height:500px;
    width:500px;
 background-color:red;
 margin:30px;
}